/* positioning and size for each title below the navbar on each page */
main h1{
    text-align: center;
    padding-top: 60px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(58, 20, 20, 0.938);
    font-size: 70px;
}

/* background image for index.html page */
body{
    background-image: url(https://w.wallhaven.cc/full/yj/wallhaven-yje2pk.jpg);
}
/* controls the settings of the footer on the bottom of each page */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgb(8, 4, 5);
    text-align: center;
    background-color: darkgray;
}

footer p{
    margin-top: 20px;
}

/* navigation bar background color */
.myNav{
    background: #6610f2;
    width: 100%;
}
/* rule set for the links on the navbar */
.navUniform{
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-family: serif;
}

/* class that represents the area of content inside each carousel slide */
.containerbio{
    width: 55%;
    margin: 0 auto;
    padding-top: 90px;
}

.containerbio p{
    color: white;
    font-size: 25px;
}

.containerbio img{
    float: left;
    padding-right: 50px;
    padding-bottom: 80px;
    height: 550px;
    width: 400px;
    float: left;
}
/* class that defines the area of each portfolio box */
.boxFit{
    background-color: white;
    height: 330px;
    width: 100%;
    margin: 30px;
}
/* sets the opacity, color and size of the box containing the form aswell as the text inside */
.opacityBox{
    background-color: black;
    height: 600px;
    margin: 3%;
    opacity: 70%;
    color: rgb(255, 255, 255);
    font-size: 30px;  
}

.inLine {
    display: inline-block;
}

.previewImg {
    width: 80%;
}
/* positioning of the submit button on the form */
#submit{
    margin-left: 45%;
}
/* sets the background images for portfolio boxes 1 - 4 */
#port1{
    text-align: center;
}

#port2{
    text-align: center;
}

#port3{
    text-align: center;
}

#port4{
    text-align: center;
}

/* background image for portfolio.html page */
#body-portfolio{
    background-image: url(https://w.wallhaven.cc/full/5d/wallhaven-5d5687.png);
}
/* background image for contact.html page */
#body-contact{
    background-image: url(https://w.wallhaven.cc/full/1j/wallhaven-1jdl2v.jpg);
}

/* specified rules for the text displaying my name on the navbar */
#navName{
    font-size: 60px;
    color: rgb(248, 252, 4);
    font-family: 'Times New Roman', Times, serif;
}

#copyRight {
    margin: 0 20%;
}