body{
    background-image: url(https://w.wallhaven.cc/full/42/wallhaven-42pwqm.jpg);
}

/* navigation bar background color */
.myNav{
    background: #6610f2;
}
/* rule set for the links on the navbar */
.navUniform{
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-family: serif;
}
/* specified rules for the text displaying my name on the navbar */
#navName{
    font-size: 60px;
    color: rgb(248, 252, 4);
    font-family: 'Times New Roman', Times, serif;
}

main h1{
    text-align: center;
    padding-top: 60px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.938);
}

.container{
    height: 700px;
}

.containerbio{
    width: 55%;
    margin: 0 auto;
    padding-top: 90px;
}

.containerbio p{
    color: white;
    font-size: 25px;
}

.containerbio img{
    float: left;
    padding-right: 50px;
    padding-bottom: 80px;
    height: 550px;
    width: 400px;
    float: left;
}

